<!DOCTYPE html>
<html>
	<head>
		<title>Christopher Andrew Olegario</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<body bgcolor= "#E6E6E6">
		<header>
			<div class="container">
				{% block div %}
					<h1 class="logo">Christopher Andrew Olegario{% block title %}{% endblock %}</h1>
				{% endblock %}
				<strong><nav>
					<ul class="menu">
						<li><a href="{{ url_for('home')}}">Home</a></li>
						<li><a href="{{ url_for('about')}}">About</a></li>
						<li><a href="{{ url_for('ed')}}">Education</a></li>
					</ul>
				</nav></strong>
			</div>
		</header>

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>